{% extends "base.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
	<h1>Movie Requests Signup</h1>
	<form method="post">
		<table>
			<tr>
				<td>Username</td>
				<td><input type="text" name="username" value="{{ username }}"></td>
				<td class="error">
					{{ error_username }}
				</td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="text" name="password" value=""></td>
				<td class="error">
					{{ error_password }}
				</td>
			</tr>
			<tr>
				<td>Verify Password</td>
				<td><input type="text" name="verify" value=""></td>
				<td class="error">
					{{ error_verify }}
				</td>
			</tr>
			<tr>
				<td>E-mail (optional)</td>
				<td><input type="text" name="email" value="{{ email }}"></td>
				<td class="error">
					{{ error_email }}
				</td>
			</tr>
		</table>
		<input type="submit">
	</form>
{% endblock %}

